.css-form {
  input.ng-pristine {
    background-color: white;
  }
  //input.ng-dirty {
  //  background-color: lightyellow;
  //}
  input.ng-invalid {
    background-color: pink;
  }
}


//自定义list
.custom-list {
  .item {
    white-space: normal;
    a {text-decoration: none;color:#444}
//    a:visited {text-decoration: none;}
//    a:active {text-decoration: none;}
//    a:hover {text-decoration: none;}
  }
}