<ion-view title="回复贴子">
    <div class="bar bar-header bar-positive">
        <h1 class="title">bar-positive</h1>
    </div>

    <ion-nav-buttons side="right">
        <button ng-click="newReplyFormSubmit()" class="button button-icon icon ion-ios7-plus-outline"></button>
    </ion-nav-buttons>
    <ion-content class="has-header lost-list">

        <form name="newReplyForm">
            <div class="list">
                <label class="item item-input">
                    <textarea placeholder="Comments" rows="12"></textarea>
                </label>
            </div>
        </form>

    </ion-content>
</ion-view>
