<ion-view title="回复贴子">
    <div class="bar bar-header bar-positive">
        <h1 class="title">bar-positive</h1>
    </div>

    <ion-nav-buttons side="right">
        <button ng-click="newReplyFormSubmit()" class="button button-icon icon ion-ios7-plus-outline"></button>
    </ion-nav-buttons>
    <ion-content class="has-header lost-list">

        <form name="newReplyForm">
            <div class="list">
                <label class="item item-input">
                    <textarea ng-model="newReply.content" placeholder="请填写回复的内容" rows="12"></textarea>
                </label>

                <label class="item item-input item-stacked-label">
                    <!--<span class="input-label">上传图片</span>-->
                    <div class="filebox">
                        <button class="button button-icon icon ion-image"></button>
                        <input type="file" ng-file-select="onFileSelect($files)">
                    </div>
                </label>
            </div>
        </form>

    </ion-content>
</ion-view>
