<ion-view title="{{ viewTitle||'无标题(存在错误)' }}">
    <ion-nav-buttons side="right">
        <button menu-toggle="right" class="button button-icon icon ion-ios7-plus-outline"></button>
    </ion-nav-buttons>
    <ion-content class="has-header lost-list">

        <form name="newTopicForm">
            <div class="list">
                <label class="item item-input">
                    <input type="text" placeholder="标题">
                </label>
                <label class="item item-input">
                    <textarea rows="10" placeholder="内容"></textarea>
                </label>
            </div>
        </form>

    </ion-content>
</ion-view>
