<ion-view title="『印象·山财』">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <div class="card">
            <div class="item item-text-wrap">
                我们是来自山东财经大学的团队Eind Studio。<br/>
                “印象·山财”是第十二届齐鲁大学生软件大赛的参赛作品（百度云BAE应用），当然我们也希望这个应用能够多多少少帮到您。当比赛结束后，我们的客户端和后端将会完全开源。
            </div>
        </div>

        <div class="card">
            <div class="item item-divider">
                成员招募
            </div>
            <div class="item item-text-wrap">
                当比赛结束后，我们也希望能够继续维护这个项目，因此我们希望有技术、设计才能的同学能够加入后期项目维护，我们需要的成员及期望为：<br/>
                <ol>
                    <li>
                        1.
                        JavaScript/Node.js程序员。熟练掌握JavaScript语言，熟悉CommonJS，AngularJS，PhoneGap，具有一定编码积累，拥有良好的英文文档阅读能力，能够提供GitHub、StackOverFlow者佳。
                    </li>
                    <li>
                        2. UI/UE设计师。有一定数量的设计作品可以提供，对App界面设计有自己的理解，能提供Dribbble者优先。
                    </li>
                </ol>
                如果您有兴趣加入我们比赛结束后的项目维护，请发送简历至 <strong>i@wildcat.name</strong> ，感谢您的支持。
            </div>
        </div>

        <div class="list card">
            <div class="item item-divider">
                团队成员
            </div>
            <div class="item item-avatar">
                <img src="img/aboutus/gao.png">

                <h2>高珊珊</h2>

                <p>指导老师，计算机科学学院。</p>
            </div>

            <div class="item item-body">
                <p>
                    负责提供历届比赛资料，非常贴心地为团队提供指导。
                </p>
            </div>
            <div ng-bind-html="teamHtml"></div>
        </div>

        <div class="list card">
            <div class="item item-divider">
                鸣谢
            </div>
            <div class="item item-avatar">
                <img src="img/aboutus/gao.png">

                <h2>闫明娣</h2>

                <p>计算机科学学院，提供燕山校区地图数据。</p>
            </div>
        </div>

        <div class="card">
            <div class="item item-divider">
                联系我们
            </div>
            <div class="item item-text-wrap">
                <ul>
                    <li>Email: <strong>webmaster@yinxiangshancai.com</strong></li>
                </ul>

            </div>
        </div>
        <br/>
    </ion-content>
</ion-view>
