<ion-view title="印象·山财">
    <ion-nav-buttons side="left">
        <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <div class="card">
            <div class="item item-text-wrap">
                This is a basic Card which contains an item that has wrapping text.
            </div>
        </div>


        <a class="button button-positive" href="#/user/login">
            登录
        </a>


        <a class="button button-calm" href="#/user/reg">
            注册
        </a>

        <!--<button class="button button-info" ng-click="test()">Click</button>-->
        <a class="button" href="#/user/edit">编辑用户资料</a>

    </ion-content>
</ion-view>
