<ion-view title="校车时刻">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <div class="card">
            <div class="item item-divider">
                点对点 (周一至周五)
            </div>
            <div class="item item-text-wrap">
                舜耕(7:15) → 圣井 <br/>
                圣井(12:20,17:40)→ 舜耕 <br/>
                燕山(7:20) → 明水 <br/>
                明水(11:55)→ 圣井(12:20)→ 舜耕 <br/>
                明水(12:00,17:00)→ 燕山(18:00)→ 舜耕 <br/>
            </div>
        </div>
        <div class="card">
            <div class="item item-divider">
                点对点(周六周日)
            </div>
            <div class="item item-text-wrap">
                <strong>周六：</strong><br/>
                舜耕(6:50、7:20、12:50) → 圣井 <br/>
                圣井(12:20、17:40) → 舜耕 <br/>
                燕山(7:20、13:00) → 明水 <br/>
                明水(12:00、17:40) → 燕山 <br/>
                <strong>周日：</strong><br/>
                舜耕(6:50、 7:20、13:00) → 圣井 <br/>
                圣井(12:10、17:40) → 舜耕 <br/>
                燕山(7:20、12:30) → 明水 <br/>
                明水(12:00、17:00) → 燕山 <br/>
            </div>
        </div>
        <div class="card">
            <div class="item item-divider">
                小循环 (周一至周五)
            </div>
            <div class="item item-text-wrap">
                舜耕(6:50) → 燕山 <br/>
                舜耕(7:30) → 燕山 <br/>
                燕山(7:40) → 舜耕 <br/>
                燕山 ←→ 舜耕 <br/>
                9:50、10:20、13:30、15:10、15:50、17:30 <br/>
            </div>
        </div>
        <div class="card">
            <div class="item item-divider">
                大循环 (周一至周五)
            </div>
            <div class="item item-text-wrap">
                舜耕(8:45) → 燕山(9:00) → 圣井(9:40) → 明水(10:00) <br/>
                明水(10:50) → 圣井(11:10) → 燕山(12:00) → 舜耕(12:25) <br/>
                舜耕(12:00/12:45) → 燕山(12:15/13:00) → 圣井(12:50/13:40) → 明水(13:15/14:00) <br/>
                明水(15:10) → 圣井(15:40) → 燕山(16:20) → 舜耕(16:45) <br/>
            </div>
        </div>
        <div class="card">
            <div class="item item-divider">
                乘车地点
            </div>
            <div class="item item-text-wrap">
                舜耕校区办公楼南侧 <br/>
                燕山校区四号教学楼前 <br/>
                圣井校区逸夫楼东侧 <br/>
                明水校区公共教学楼北 <br/>
            </div>
        </div>
    </ion-content>
</ion-view>
