<ion-view title="修改密码">
    <ion-nav-buttons side="left">
        <!--<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>-->
    </ion-nav-buttons>
    <ion-content class="has-header">
        <form novalidate name="changePasswordForm" >
            <div class="list list-inset">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">当前密码</span>
                    <input type="password" ng-minlength="6" ng-model="formModel.currentPassword">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">新密码</span>
                    <input type="password" ng-minlength="6" ng-model="formModel.newPassword">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">新密码（确认）</span>
                    <input type="password" ng-minlength="6" ng-model="formModel.newPasswordRepeat">
                </label>

                <button class="button button-full button-positive" ng-disabled="changePasswordForm.$invalid" ng-click="changePasswordFormSubmit()">
                    修改密码
                </button>
            </div>
        </form>
    </ion-content>
</ion-view>
