<ion-view title="用户注册">
    <ion-nav-buttons side="left">
        <!--<button menu-toggle="left"class="button button-icon icon ion-navicon"></button>-->
    </ion-nav-buttons>
    <ion-content class="has-header">
        <form novalidate class="css-form" name="regForm" ng-controller="UserCtrl.Reg"  ng-submit="regFormSubmit()">
            <div class="list list-inset">
                <label class="item item-input">
                    <span class="input-label">用户名</span>
                    <input type="text" ng-model="newUser.username" ng-minlength="3" ng-maxlength="16" required>
                </label>
                <label class="item item-input">
                    <span class="input-label">邮箱</span>
                    <input type="email" ng-model="newUser.email" required>
                </label>
                <label class="item item-input">
                    <span class="input-label">密码</span>
                    <input type="password" ng-model="newUser.password" ng-minlength="6" ng-maxlength="32" required>
                </label>

                <label class="item item-input item-select">
                    <div class="input-label">
                        性别
                    </div>
                    <select ng-model="newUser.gender" required>
                        <option value="0">学妹</option>
                        <option value="1" selected>学长</option>
                    </select>
                </label>

                <button class="button button-full button-positive" ng-disabled="regForm.$invalid">
                    现在注册！
                </button>


            </div>
        </form>
    </ion-content>
</ion-view>
