<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=KUe12mFRw3vHoklZ5RxxILdB"></script>
    <link rel="stylesheet" href="meta/common.css" />
    <title>燕山校区地图</title>
</head>
<body>
<div id="school-map"></div>
</body>
<script type="text/javascript" src="meta/yanshan.data.js"></script>
<script type="text/javascript" src="meta/common.js"></script>
</html>

